<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue列表循环和表单元素的绑定</title>
</head>
<body>
  <!-- v-for:根据数据生成列表结构 语法：（item，index）in 数据 -->
  <div id="app1">
    <!-- 数组 -->
    <ul>
      <li v-for="(item,index) in arr">
        {{index+1}}hsn:{{item}}
      </li>
    </ul>
    <!-- 对象 -->
    <h3 v-for="(item,index) in vegetables">
      {{index}}:{{item.name}}
    </h3>
    <button @click="remove">删除蔬菜</button>
  </div>
</br></br></br></br>
  <!-- v-on:传递自定义参数，时间修饰符.enter（点击回车触发） -->
  <div id="app2">
    <input type="button" value="揭开秘密" @click="dolt('hsn','hxw')">
    <input type="text"  @keyup.enter="friends">
  </div>
</br></br></br></br>
  <!-- v-mode:获取和设置表单的元素值（双向数据绑定） -->
  <div id="app3">
    <button @click="change">修改message为前端工程师</button>
    <input type="text" v-model="message" @keyup.enter="enter">
    <h3> {{message}} </h3>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app1 = new Vue({
    el:"#app1",
    data:{
      arr:["哈哈","嘻嘻","啦啦","嘿嘿"],
      vegetables:[
        {name:"鸡蛋"},
        {name:"西兰花"},
        {name:"土豆"}
      ]
    },
    methods:{
      remove:function(){
        this.arr.shift();//从第一个开始删除
      }  
    }
  })

  var app2 = new Vue({
    el:"#app2",
    methods:{
      dolt:function(p1,p2){
        alert(p1+"和"+p2+"是好朋友");
      },  
      friends:function(){
        alert("HELLO");
      }
    }
  })

  var app3 = new Vue({
    el:"#app3",
    data:{
      message:"前端小白"
    },
    methods:{
      enter:function(){
        alert(this.message);
      },
      change:function(){
        this.message = "前端工程师"
      }
    }
  })

</script>
</html>